<include file="public:top_menu" />

<style>
    .btn-status{
        /* width: 40px;*/
        background-color:#80D640;
        /* padding: 0; */
    }

    .btn-up-status{
        /* width: 40px;*/
        background-color:#009f95;
        /* padding: 0;*/
    }
</style>

<div class="control-bar">
    <a href="__ROOTHOME__/Lucida/info" class="btn J_showAdd">新建</a>
    <a href="javascript:;" class="btn J_onDel">删除</a>
</div>

<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>创建时间</th>
            <th>明星名称</th>
            <th>明星代码</th>
            <th>明星配图</th>
            <th>明星状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>
<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>

<script type="text/javascript">
    var starUrl = "<?php echo C('CGI_STAR_URl') ?>";

    function status(obj) {
        var _this = $(obj);
        var id = _this.attr("data-id");
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Lucida/status",
            dataType: "json",
            data: {id : id},
            success: function(msg){
                //alert(msg.message);
                layer.msg(msg.message);
                // 执行
                ajaxUrl();
                window.setTimeout(
                    'window.location.reload(true)',
                    2000
                );
               // window.location.reload(true);
            }
        });
    }
</script>

<script>
    require(['common'], function () {
        require(['page/lucida']);
        require(['public/ajaxUrl']);
    });
</script>

<include file="public:footer" />