$red            : #fc534a;
$blue           : #55abed;
$yellow         : #efa400;

$baseColor      : #fff;
$borderColor    : #e5e5e5;

$navHeight      : 60px;
$sidebarWidth   : 200px;

$titleColor     : #333;
$subTitleColor  : #666;
$miniTitleColor : #999;

