<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <link rel="stylesheet" href="/css/community/error.min.css">
  </head>
  <body>
    <div class="wrap">
      <form id="form" action="/issue" method="post">
        <div class="head"><a href="javascript:history.go(-1);" class="back fl"></a>
          <div class="head-right"><span>错误页面</span></div>
        </div>
        <div id="main">
          <div class="error-box">
            <p class="title">没有找到页面</p>
            <p>可能的原因是：</p>
            <p>1.访问路径错误</p>
            <p>2.页面已被删除</p>
          </div>
        </div>
      </form>
    </div>
    <script src="/js/vendor/require.js" data-main="/js/common"></script>
  </body>
</html>