
<div data-remodal-id="changeOrgModal" class="remodal changeOrgModal">
  <div class="remodal-head">
    <div class="remodal-title">修改机构</div>
    <div data-remodal-action="cancel" class="remodal-close"></div>
  </div>
  <div class="remodal-body">
    <form class="modalForm">
      <div class="form-control">
        <label>机构名称</label>
        <input type="text" name="orgName"/>
      </div>
      <div class="form-control">
        <label>机构编码</label>
        <input type="text" name="orgId"/>
      </div>
      <div class="form-control">
        <label>机构层级</label>
        <select name="orgLevel">
          <option value="0">上层机构</option>
          <option value="1">二级机构</option>
        </select>
      </div>
      <div class="form-control">
        <label>机构类型</label>
        <select name="orgType">
          <option value="0">航空</option>
          <option value="1">陆运</option>
          <option value="2">海运</option>
          <option value="3">其他</option>
        </select>
      </div>
      <div class="form-control">
        <label>手机号码</label>
        <input type="text" name="phone"/>
      </div>
      <div class="form-control">
        <label>固定电话</label>
        <input type="text" name="cellphone"/>
      </div>
    </form>
  </div>
  <div class="remodal-footer"><a href="javascript:;" class="remodal-confirm">确 定</a></div>
</div>