<style>
    .submenu{display: none;}
    .submenu li{color: #CCCCCC;}
    .act{background-color: #FFB6C1}
    .select{border-bottom: 2px dashed red;}
    .icon-star-img {
        width: 120px;
    }
</style>
<?php
    $starArr = array('Star', 'Info', 'Lucida', 'Meet', 'Appoint', 'Timer');
    $cusArr = array( 'Customer');
    $starCtr = array('carousel', 'listing', 'meet', 'appoint');
?>
<div class="sidebar">
    <ul class="nav-list">
        <li class="pli">
            <a href="__ROOTHOME__/AdminBacker/index" <php>if(CONTROLLER_NAME == 'AdminBacker'){echo 'class="active"';}</php>><i class="icon-home"></i><strong> 后台管理</strong></a>
        </li>
        <li class="pli">
            <a href="javascript:;" <php>if(in_array(CONTROLLER_NAME, $starArr)){echo 'class="active"';}</php>><i class="icon-star"></i><strong> 明星管理</strong></a>
            <ul class="submenu">
                <li><a href="__ROOTHOME__/Star/carousel" <php>if(CONTROLLER_NAME == 'Star' && ACTION_NAME =='carousel'){echo 'class="act"';}</php>>轮播列表</a></li>
                <li><a href="__ROOTHOME__/Info/listing" <php>if(CONTROLLER_NAME == 'Info' && ACTION_NAME =='listing'){echo 'class="act"';}</php>>资讯列表</a></li>
                <li><a href="__ROOTHOME__/Lucida/listing" <php>if(CONTROLLER_NAME == 'Lucida' && ACTION_NAME =='listing'){echo 'class="act"';}</php>>明星列表</a></li>
                <li><a href="__ROOTHOME__/Meet/meet" <php>if(CONTROLLER_NAME == 'Meet' && ACTION_NAME =='meet'){echo 'class="act"';}</php>>约见管理</a></li>
                <li><a href="__ROOTHOME__/Appoint/appoint" <php>if(CONTROLLER_NAME == 'Appoint' && ACTION_NAME =='appoint'){echo 'class="act"';}</php>>约见类型管理</a></li>
                <li><a href="__ROOTHOME__/Timer/listing" <php>if(CONTROLLER_NAME == 'Timer' && ACTION_NAME =='listing'){echo 'class="act"';}</php>>明星时间管理</a></li>
            </ul>
        </li>
        <li class="pli">
            <a href="javascript:;" <php>if(in_array(CONTROLLER_NAME, $cusArr)){echo 'class="active"';}</php>><i class="icon-tags"></i><strong> 消费者管理</strong></a>
            <ul class="submenu">
                <li><a href="__ROOTHOME__/Customer/listing" <php>if(CONTROLLER_NAME == 'Customer' && ACTION_NAME =='listing'){echo 'class="act"';}</php>>消费者列表</a></li>
                <!--<li><a href="#">分享统计列表</a></li>-->
            </ul>
        </li>
        <li class="pli">
            <a href="javascript:;"><i class="icon-align-right"></i><strong> 数据查询</strong></a>
            <ul class="submenu">
                <li><a href="#">资金查询</a></li>
                <li><a href="#">持仓汇总查询</a></li>
                <li><a href="#">出入金查询</a></li>
                <li><a href="#">交易额明细查询</a></li>
                <li><a href="#">成交明细查询</a></li>
            </ul>
        </li>
        <li class="pli">
            <a href="javascript:;"><i class="icon-user"></i><strong> 系统账户管理</strong></a>
            <ul class="submenu">
                <li><a href="#">账户权限</a></li>
                <li><a href="#">账户角色</a></li>
                <li><a href="#">创建系统账户</a></li>
                <li><i class="fa fa-globe"></i>系统账户管理<i class="fa fa-chevron-down"></i></li>
                <ul>
                    <li><a href="#">区域总经销列表</a></li>
                    <li><a href="#">经销商列表</a></li>
                    <li><a href="#">零售商列表</a></li>
                </ul>
            </ul>
        </li>
    </ul>
</div>
<script>
    $(function () {
        $(".pli").each(function () {

            //是否已有选中的菜单
            var isActive   = $(this).children('a').hasClass('active');
            var box = $(this).children("ul");

            //添加点击事件
            $(this).children("a").bind("click", function () {

                //只留一个选中样式的菜单
                $(".pli a").removeClass('active');
                $(this).children('a').addClass('active');

                //是否已是选中状态 | 取消选中
                var isOpen   = (box).hasClass('open');
                if (box != undefined && isOpen == false) {
                    box.show();
                    box.addClass("open");
                } else {
                    box.hide();
                    box.removeClass("open");
                }
            });

            //默认选中并展开子菜单
            if (isActive) {
                box.show();
                box.addClass("open");
            }

        });
    });
</script>