<style>
    .submenu{display: none;}
    .submenu li{color: #CCCCCC;}
    .act{background-color: #FFB6C1}
    .select{border-bottom: 2px dashed red;}
    .icon-star-img {
        width: 120px;
    }



    .pli a.main {
        background-color: #55abed;
    }

    .pli strong{
        color:#0c0a0a;
        font-weight: bold;
    }

    .submenu li:hover {
        color: #55abed;
    }


    *{font-size: 14px;}
</style>
<?php
    $starArr = array('Star', 'Info', 'Lucida', 'Meet', 'Appoint', 'Timer');
    $cusArr = array( 'Customer');
    $starCtr = array('carousel', 'listing', 'meet', 'appoint');
?>

<php> echo $menu;</php>

<?php
    $classTimer = ''; if(CONTROLLER_NAME == 'Timer' && (ACTION_NAME =='timer' || ACTION_NAME =='info' )){  $classTimer = 'act';  }
    $classButeId = ''; if(CONTROLLER_NAME == 'Timer' && (ACTION_NAME =='dis_info' || ACTION_NAME =='distribute' )){  $classButeId = 'act';  }
    $classLucidaId = ''; if(CONTROLLER_NAME == 'Lucida' && (ACTION_NAME =='listing' || ACTION_NAME =='info' )){  $classLucidaId = 'act';  }


?>

<script>
    var uploadUrl = "<?php echo U('Autoload/upload') ?>";
    var qn_domain = "<?php echo C('qn_domain') ?>";//"<?php echo $qn_domain = C('qn_domain') ?>";



    var timerId = "<?php echo $classTimer ?>";
    var distributeId = "<?php echo $classButeId ?>";
    var lucidaId = "<?php echo $classLucidaId ?>";


    $(function () {
        $(".pli").each(function () {

            //是否已有选中的菜单
            $('#timerId').addClass(timerId);
            $('#distributeId').addClass(distributeId);
            $('#lucidaId').addClass(lucidaId);
            var isActive   = $(this).children('a').hasClass('active');
            var isMain   = $(this).children('a').hasClass('main');
            var box = $(this).children("ul");

            //添加点击事件
            $(this).children("a").bind("click", function () {

              //  alert(box);


                //只留一个选中样式的菜单
                $(".pli a").removeClass('active');
                $(".pli ul").each(function () {
                    $(this).hide();
                    $(this).removeClass("open");
                })
                $(this).addClass('active');

                //是否已是选中状态 | 取消选中
                var isOpen   = (box).hasClass('open');
                if (box != undefined && isOpen == false) {
                    box.show();
                    box.addClass("open");
                } else {
                    box.hide();
                    box.removeClass("open");
                }
            });

            //默认选中并展开子菜单
            if (isActive || isMain) {
                box.show();
                box.addClass("open");
            }

        });
    });
</script>

