<include file="public:top_menu" />

<div class="control-bar">
    <a href="javascript:;" class="btn J_showAdd">新建</a>
    <a href="javascript:;" class="btn J_onDel">删除</a>
</div>

<style>
    .btn-status{
       /* width: 40px;*/
        background-color:#80D640;
       /* padding: 0; */
    }

    .btn-up-status{
        /* width: 40px;*/
        background-color:#009f95;
       /* padding: 0;*/
    }
</style>

<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>编号</th>
            <th>创建时间</th>
            <th>约见类型</th>
            <th>消耗秒数</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<div data-remodal-id="addAppointModal" class="remodal addAppointModal">
    <div class="remodal-head">
        <div class="remodal-title">约见类型</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>约见类型</label>
                <input type="text" name="appointname">
            </div>
            <div class="form-control">
                <label>消耗秒数</label>
                <input type="text" name="micro" value="">
            </div>

            <div class="form-control control-label">
                <label>约见配图</label>
                <input type="hidden" name="showpic_url" id="pic_url" class="txt" readonly />
                <input type="text" name="local_pic" id="local_pic" class="txt" readonly />
            </div>
            <style>
                .mybtn{
                    display: inline-block;
                    width: 40px;
                    border:1px solid #CCCCCC;
                    border-radius: 4px;
                    height: 30px;
                    line-height: 30px;
                    cursor: pointer;
                }
            </style>
            <div class="form-control control-label form-group">
                <label class="control-label"></label>
                <input type="file" name="file" class="file" id="file"/>
                <span onclick="UpladFile()" class="mybtn">上传</span>
            </div>

        </form>
    </div>
    <div class="remodal-footer">
        <a href="javascript:;"  class="remodal-confirm">确认</a>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>

    var xhr;
    function createXMLHttpRequest() {
        if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        }
    }

    function UpladFile() {
        var fileObj = document.getElementById("file").files[0];
        var FileController = '__ROOTHOME__/info/uploadFile';
        var form = new FormData();
        form.append("myfile", fileObj);
        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }

    function handleStateChange() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 0) {
                var result = xhr.responseText;
                var json = eval("(" + result + ")");
                console.log(json.file);

                $("#pic_url").val(json.file);
                $("#local_pic").val(json.local);
            }
        }
    }


    function status(obj) {
        var _this = $(obj);
        var id = _this.attr("data-id");
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Appoint/status",
            dataType: "json",
            data: {id : id},
            success: function(msg){
               // alert(msg.message);
               // window.location.reload(true);
                layer.msg(msg.message);
                window.setTimeout(
                    'window.location.reload(true)',
                    2000
                );
            }
        });
    }

    require(['common'], function () {
        require(['page/appoint']);
    });
</script>

<include file="public:footer" />