
<div data-remodal-id="addBrokerModal" class="remodal addBrokerModal">
  <div class="remodal-head">
    <div class="remodal-title">添加经纪人</div>
    <div data-remodal-action="cancel" class="remodal-close"></div>
  </div>
  <div class="remodal-body">
    <form class="modalForm">
      <div class="form-control">
        <label>所属机构</label>
        <input type="text" name="orgName"/>
      </div>
      <div class="form-control">
        <label>经纪人ID</label>
        <input type="text" name="id"/>
      </div>
      <div class="form-control">
        <label>经纪人名称</label>
        <input type="text" name="name"/>
      </div>
      <div class="form-control">
        <label>手机号码</label>
        <input type="text" name="phone"/>
      </div>
    </form>
  </div>
  <div class="remodal-footer"><a href="javascript:;" data-remodal-action="confirm" class="remodal-confirm">确认</a></div>
</div>