
<div data-remodal-id="resetPwdModal" class="remodal resetPwdModal">
  <div class="remodal-head">
    <div class="remodal-title">重置密码</div>
    <div data-remodal-action="cancel" class="remodal-close"></div>
  </div>
  <div class="remodal-body">
    <form class="modalForm">
      <div class="form-control">
        <label>登录账号</label>
        <input type="text" name="username" readonly="readonly"/>
      </div>
      <div class="form-control">
        <label>用户名称</label>
        <input type="text" name="nickname" readonly="readonly"/>
      </div>
      <div class="form-control">
        <label>新密码</label>
        <input type="text" name="password"/>
      </div>
    </form>
  </div>
  <div class="remodal-footer"><a href="javascript:;" data-remodal-action="confirm" class="remodal-confirm">确 定</a></div>
</div>