<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <link rel="stylesheet" href="__CSS__/index.min.css">
  </head>
  <body>
    <div class="wrap">
      <div class="header">
        <div class="clearfix layout">
          <h1><a href="__ROOTHOME__/accountmanage/userManage">交易管理系统</a></h1>
          <div><a href="__ROOTHOME__/accountmanage/userManage" class="active">账户管理</a><a href="__ROOTHOME__/clientmanage/clientList">客户管理</a><a href="__ROOTHOME__/countmanage/countTable">结算管理</a><a href="__ROOTHOME__/sysmanage/pwdManage">系统管理</a></div>
        </div>
      </div>
      <div class="main">
        <div class="sidebar"><a href="__ROOTHOME__/accountmanage/userManage" class="active">机构管理</a><a href="__ROOTHOME__/userManage">用户管理</a><a href="__ROOTHOME__/brokerManage">经纪人管理</a>
          <!--a(class="#{ level[1] == 4 ? 'active' : '' }" href="__ROOTHOME__/wqManage") 微圈管理-->
        </div>
        <div class="content">
          <div class="search-bar">
            <select name="wqType">
              <option value="">微圈类型</option>
              <option value="">注册会员</option>
              <option value="">经纪人</option>
            </select>
            <input type="text" placeholder="机构名称">
            <input type="text" placeholder="关键字：微圈名称"><a href="javascript:;" class="btn">查询</a>
          </div>
          <div class="control-bar"><a href="javascript:;" class="btn J_showAdd">新建</a><a href="javascript:;" class="btn J_updateStatus open-i">启用</a><a href="javascript:;" class="btn J_updateStatus close-i">禁用</a><a href="javascript:;" class="btn J_onDel">删除</a></div>
          <div class="data-container">
            <table>
              <tr>
                <th>
                  <input type="checkbox">
                </th>
                <th>微圈名称</th>
                <th>微圈类型</th>
                <th>所属机构</th>
                <th>管理经纪人</th>
                <th>状态</th>
                <th>佣金比例</th>
                <th>操作</th>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td>杭州市下城区圈</td>
                <td>航空</td>
                <td>华通</td>
                <td>张三</td>
                <td>有效</td>
                <td>3%</td>
                <td><a href="javascript:;">修改</a><span>|</span><a href="javascript:;">重置密码</a></td>
              </tr>
            </table>
            <div class="pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
    <script>
      require(['common'], function () {
          require(['page/orgManage']);
      });
    </script>
  </body>
</html>