<include file="public:top_menu" />
<style>
    .thumbnail {
        line-height: 160px;
        text-align: center;
        border:1px solid red;
        display: inline-block;
        float: left;
        width: 40%;
        padding: 20px;
        margin: 20px;
        border: 1px solid #dedede;
        border-radius:3px;
    }
</style>
<ul class="thumbnails">
    <php> if(isset($identity_status)){ </php>
    <li class="span4">
        <a href="__ROOTHOME__/Star/carousel" class="thumbnail">
            明星管理
        </a>
    </li>

    <li class="span4">
        <a href="__ROOTHOME__/Customer/customer" class="thumbnail">
            消费者管理
        </a>
    </li>
    <php> } </php>
    <li class="span4">
        <a href="__ROOTHOME__/DataSearch/fundList" class="thumbnail">
            数据查询
        </a>
    </li>
    <li class="span4">
        <a href="__ROOTHOME__/accountmanage/userManage" class="thumbnail">
            系统账户管理
        </a>
    </li>

</ul>
<include file="public:footer" />