<include file="public:top_menu" />

<div class="control-bar">
    <!--<h3>明星时间管理</h3>-->
    <!--<a href="__ROOTHOME__/Timer/info" class="btn J_showAdd">新建</a>-->
    <!--<a href="javascript:;" class="btn J_onDel">删除</a>-->
</div>

<style>
    .btn-status{
        width: 40px;
        background-color:#80D640;
        padding: 0;
    }

    .btn-up-status{
        width: 40px;
        background-color:#009f95;
        padding: 0;
    }
</style>
<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>序号</th>
            <th>明星名称/发行代码</th>
            <th>期限</th>
            <th>发行总时间数量</th>
            <th>发售时间量</th>
            <th>发行时间</th>
            <th>当前剩余时间量</th>
            <th>分配所有者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>
    function status(obj) {
        var _this = $(obj);
        var id = _this.attr("data-id");
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/status",
            dataType: "json",
            data: {id : id},
            success: function(msg){

                layer.msg(msg.message);

                window.setTimeout(
                    'window.location.reload(true)',
                    2000
                );
               // alert(msg.message);
              //  window.location.reload(true);
            }
        });
    }

    require(['common'], function () {
        require(['page/distribute']);
    });
</script>

<include file="public:footer" />