<include file="public:top_menu" />
<script src="__JS__/vendor/jquery.datetimepicker.js" data-main="__JS__/common"></script>

<script src="__JS__/vendor/layer.js?version=1498546138669" data-main="__JS__/common"></script>

<style>
    .form-control label {
        width: 120px;
        display: inline-block;
        text-align: right;
        padding: 10px 10px;
    }
    .mybtn{
        display: inline-block;
        width: 40px;
        border:1px solid #CCCCCC;
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    .exp {
        margin:15px 0px;
        line-height: 25px;
    }
    .timer-list {
        width:60%;
        margin-top: 25px;
        border-top: 1px solid #ccc;
        padding: 10px;
    }
   .exp li{
        list-style-type:none;
        border-bottom: 1px solid #ccc;
        margin: 10px 0px 15px 0px;
    }
     .close_exp {
        color: red;
        font-weight: normal;
        display: inline;
        cursor:pointer;
        font-size: 12px;
        float: right;
        width: 30px;
    }
    .add-free{
        border:1px solid #ccc;
        margin-bottom: 5px;
        font-weight: normal;
        display: inline-block;
        cursor:pointer;
        font-size: 12px;
        float: right;
        border-radius: 2px;
        width: 60px;
        text-align: center;
    }
    .info-secs {
        display: inline-block;
        float: right;
        margin-right: 50%;
    }
    .info-notice {display: inline-block; color: red;}

    .btn_button {
         margin-left: 310px;
         margin-top: 30px;
     }

    .btn_next {
        margin-left: 360px;
        margin-top: 20px;
    }

    .btn_add {
        margin-left: 360px;
        margin-top: 10px;
    }
</style>

<div class="control-bar">
    <h3><a href="__ROOTHOME__/Timer/timer">返回</a>   明星时间管理</h3>
</div>

<div class="data-container">
    <div style="margin:auto;width: 50%;padding: 25px;">
        <div class="remodal-body">
            <form class="modalForm" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<?php echo $item['id'];?>">
                <div class="form-control">
                    <label>明星名称</label>
                    <?php if (!isset($item['id'])) {?>
                        <input type="text" name="starname" value="<?php echo $item['starname'];?>" onblur="return isStarName()" >
                    <?php } else { echo $item['starname']; }?>
                </div>
                <?php if (isset($item['id'])) {?>
                    <div class="form-control control-label">
                        <label>明星状态</label>
                        <?php echo $item['status'];?>
                    </div>
                <?php } ?>
                <div class="form-control">
                    <label>总发行数量</label>
                    <input type="hidden" name="is_micro" value="1">

                    <input type="text" name="total_micro" value="<?php echo $timeMicro['total_micro'];?>"  class="last_time"
                            <?php echo ($item['micro'] > 1) ? 'readonly' : 'onblur="last_time()"'; ?>
                    >
                        <span class="info-notice"> <?php echo ($item['micro'] < 1) ? '填写发行时间即可分配消费者持有,发行期最多为五期！' : ''; ?></span>

                    <input type="hidden" name="sort" value="">
                </div>


                <?php if(!isset($item)){?>

                <div class="time_info">
                  <div class="form-control">
                    <label id="micro_sort">发售数量</label>
                        <input type="text" data="micro_data" name="micro" value="<?php echo $item['micro'];?>" > <!--class="last_time" onblur="last_time()" -->
                    </div>
                    <div class="form-control">
                        <label id="time_sort" >发售时间</label>
                        <input type="text" name="publish_begin_time" id="dateStart0"  value="<?php echo $item['publish_begin_time'];?>">
                        到
                        <input type="text" name="publish_end_time" id="dateEnd0"  value="<?php echo $item['publish_end_time'];?>">
                    </div>
                    <!--<div class="form-control">-->
                        <!--<label>发售类型</label>-->
                        <!--<select name="publish_type" style="width: 100px;">-->
                            <!--<option value="0" >预售</option>-->
                            <!--<option value="1" >发售</option>-->
                            <!--<option value="2" >流通</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-control">
                        <label>发售价格</label>
                        <input type="text" name="publish_price" value="<?php echo $item['publish_price'];?>">
                    </div>

                    <div class="form-control" style="padding-top: 30px">
                        <label>剩余数量</label>
                        <input type="text" name="publish_last_time" readonly value="<?php echo $item['last_time'];?>">
                    </div>

                </div>

                <div class="form-control">
                    <a href="javascript:;" class="btn btn_next" >下一步</a>
                </div>

                <?php }else { $numberArr = array('第一期','第二期','第三期','第四期','第五期');?>

                    <div class="form-control">
                        <label>{$numberArr[$item['sort']-1]}发售数量</label>
                        <input type="text" data="micro_data" name="micro" value="<?php echo $item['micro'];?>" class="last_time"  onblur="return edit_last_time()" >
                    </div>
                    <div class="form-control">
                        <label>{$numberArr[$item['sort']-1]}发售时间</label>
                        <input type="text" name="publish_begin_time" id="dateStart0"  value="<?php echo $item['publish_begin_time'];?>">
                        到
                        <input type="text" name="publish_end_time" id="dateEnd0"  value="<?php echo $item['publish_end_time'];?>">
                    </div>
                    <div class="form-control">
                        <label>发售类型</label>

                        <?php if($item['publish_type'] == 0) echo '预售' ?>
                        <?php if($item['publish_type'] == 1) echo '发售' ?>
                        <?php if($item['publish_type'] == 2) echo '流通' ?>

                        <!--<select name="publish_type" style="width: 100px;">-->
                            <!--<option value="0" <?php if($item['publish_type'] == 0) echo 'selected' ?> >预售</option>-->
                            <!--<option value="1" <?php if($item['publish_type'] == 1) echo 'selected' ?> >发售</option>-->
                            <!--<option value="2" <?php if($item['publish_type'] == 2) echo 'selected' ?> >流通</option>-->
                        <!--</select>-->
                    </div>
                    <div class="form-control">
                        <label>发售价格</label>
                        <input type="text" name="publish_price" value="<?php echo $item['publish_price'];?>">
                    </div>

                    <div class="form-control" style="padding-top: 30px">
                        <label>剩余数量</label>
                        <input type="text" name="publish_last_time" readonly value="<?php echo $item['last_time'];?>">
                    </div>

                <?php } ?>

                <div class="form-control" <?php if(!isset($item)){?> style="display: none" <?php } ?> >
                    <a href="javascript:;" class="remodal-confirm btn btn_button">确认</a>
                </div>

            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    //判断 明星是否存在
    function isStarName() {
        starname = $('input[name=starname]').val();
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/isStarName",
            dataType: "json",
            data: {starname : starname},
            success: function(msg){
                if (msg.code == 0) {
                    var total_micro = msg.total_micro;
                    var sort_name   = msg.sort_name;
                    var sort        = msg.sort;
                    if(total_micro){
                        $('input[name=total_micro]').val(total_micro);
                        $('input[name=total_micro]').attr('readonly','readonly');
                        $('input[name=total_micro]').attr('class','');
                        $('input[name=total_micro]').attr('onblur','');
                        $('input[name=is_micro]').val(0);
                    }
                    $('input[name=sort]').val(sort);
                    $("#micro_sort").text(sort_name + "发售数量");
                    $("#time_sort").text(sort_name + "发售时间");
                    var last_time = msg.last_time;
                    $('input[name=publish_last_time]').val(last_time);
                    //code
                } else if (msg.code == -2) {
                    layer.msg(msg.message);
                    return 0;
                } else {
                    return 0;
                    //layer.msg(msg.message);
                }
            }
        });
    }

    //添加经历、成就
    function addExp(obj) {
        var _this = $(obj);
        var id = parseInt($("input[name='id']").val());
        if (id == 0) return false;

        var fans = $.trim($("input[name='fans']").val());
        var secs = $.trim($("input[name='secs']").val());
        secs = parseInt(secs);

        if (fans.length < 1 || secs < 1) {
            $(".fans-notice").text("请输入正确的值")
            return false;
        } else {
            $(".fans-notice").text("")
        }

        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/add",
            dataType: "json",
            data: {fans : fans, secs : secs, id : id},
            success: function(msg){
                if (msg.code == 1) {
                    $(".secs-total").text("消费总数 : " + msg.total);
                    $(".secs-free").text("可用值 : " + msg.free);
                    $(".addexp").append("<li> " + msg.fans + "<b class='close_exp'>&nbsp;</b><span class='info-secs'>" + msg.secs + "</span></li>");
                } else if (msg.code == -2) {
                    $(".fans-notice").text(msg.message);
                } else {
                    $(".fans-notice").text("");
                }
            }
        });
    }

    //删除经历、成就
    function close_exp(obj) {
        var _this = $(obj);
        var id = parseInt(_this.attr("data-id"));
        if (id < 1) {return false;}

        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/fstatus",
            dataType: "json",
            data: {id : id, free : "<?php echo $free;?>", total : "<?php echo count($timer); ?>"},
            success: function(msg){
                $(".secs-total").text("消费总数 : " + msg.total);
                $(".secs-free").text("可用值 : " + msg.free);
                _this.parent().remove();
            }
        });
    }
    
    function edit_last_time() {
       var micro = $('input[name=micro]').val();

       var publish_last_time = $('input[name=publish_last_time]').val();

        micro = parseInt(micro);
        publish_last_time = parseInt(publish_last_time);


       if(micro - publish_last_time > 0){

           layer.msg('发售数量过大,应小于剩余数量！');
           return false;
       }
    }

    function last_time() {
        var total_micro = $('input[name=total_micro]').val();


        var micro = 0;
        $('input[data=micro_data]').each(function(){
            var microVal = $(this).val();

            if(isNaN(microVal)){
                microVal = 0;
            }

            if(!microVal){
                microVal = 0;
            }

            microVal = parseInt(microVal);

            //   var microVal = Math.floor(val * 100) / 100;
            micro = micro + microVal;

        });
        
        var last_time = total_micro-micro;

        if(last_time<0){
            layer.msg('发售时间过大');
            return false;
        }

        $('input[name=publish_last_time]').val(last_time);
    }

    function dateStart(id) {

        //日历插件
        $("#dateStart"+id).datetimepicker({
            lang: 'ch',
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollInput: false,
            validateOnBlur: false,
            timepicker: false,
            minDate:'',
            onShow: function (ct) {
                this.setOptions({
                    //  maxDate: $("#dateEnd").val() ? $("#dateEnd").val() : '+1970-01-01'
                })
            },
        });

    }

    function dateEnd(id) {
        //日历插件
        $("#dateEnd"+id).datetimepicker({
            lang: 'ch',
            timepicker: false,
            format: 'Y-m-d',
            formatDate: 'Y-m-d',
            scrollInput: false,
            validateOnBlur: false,
            onShow: function (ct) {
                this.setOptions({
                    minDate: $("#dateStart"+id).val() ? $("#dateStart"+id).val() : '',
                })
            }
        });
    }


    $(function () {

        var edit = "<?php echo $edit;?>";

        if(edit){
            $("input[name='micro']").attr('readonly','readonly');
            $("input[name='publish_begin_time']").attr('readonly','readonly');
            $("input[name='publish_end_time']").attr('readonly','readonly');
            $("select[name='publish_type']").attr('readonly','readonly');
            $("input[name='publish_price']").attr('readonly','readonly');
        }

        dateStart(0);dateEnd(0);

        var i=0;
        var nameVal = ['第一期','第二期','第三期','第四期','第五期'];

        //默认隐藏
        $(".time_info").hide();

        $(".btn_next").on("click",function () {
            var starname = $("input[name=starname]").val();
            var total_micro = $("input[name=total_micro]").val();

            if(!starname){
                layer.msg('请输入明星名称');
                return false;
            }
            if(!total_micro){
                layer.msg('请输入总发行数量');
                return false;
            }
            if(total_micro<100){
                layer.msg('总发行数量最低为100');
                return false;
            }

            $(".time_info").show();
            $(".btn_next").parent().hide()
            $(".btn_button").parent().show();
        });


        $(".add-free").on("click", function () {
            var id = parseInt($("input[name='id']").val());
            if (id == 0) return false;

            var uids = $.trim($("textarea[name='free-timer']").val());
            if (uids.length == 0) return false;

            $.ajax({
                type: "POST",
                url: "__ROOTHOME__/Timer/avg",
                dataType: "json",
                data: {id : id, uids : uids},
                success: function(msg){
                    if (msg.code == -2) {
                        $(".fans-notice").text(msg.message)
                    } else if (msg.code == 1) {
                        window.location.reload(true);
                    } else {
                        $(".fans-notice").text("")
                    }
                }
            });
        });

        $("input[name='fans']").on("blur", function () {
            var fans = $.trim($(this).val());
            if (fans.length < 1) return false;

            $.ajax({
                type: "POST",
                url: "__ROOTHOME__/Timer/getFans",
                dataType: "json",
                data: {fans : fans},
                success: function(msg){
                    if (msg.code == -2) {
                        $(".fans-notice").text(msg.message)
                    } else if (msg.code == 0) {
                        $(".fans-notice").text("")
                    }
                }
            });
        })

        //添加、修改明星信息
        $(".remodal-confirm").click(function () {
            var id = $.trim($("input[name='id']").val());
            var starname = $.trim($("input[name='starname']").val());

            var from = $(".modalForm").serializeArray();

            if (id.length > 0) {
                var url = "__ROOTHOME__/Timer/editTimer";
                var data = from;
            } else {
                var url = "__ROOTHOME__/Timer/addTimer";
                var data = from;
            }

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: data,
                success: function(msg){
                    if(msg.code == 0) {
                        layer.msg(msg.message, {time: 2000});
                        window.setTimeout(
                            'window.location = "__ROOTHOME__/Timer/timer"',
                            2000
                        );
                    }else if(msg.code == -2){
                        layer.msg(msg.message);
                    }else{
                        layer.msg('失败！');
                    }

                }
            });
        });
    });
</script>

<include file="public:footer" />
