<include file="public:top_menu" />

<style>
    .form-control label {
        width: 110px;
        display: inline-block;
        text-align: right;
        padding: 10px 10px;
    }
    .mybtn{
        display: inline-block;
        width: 40px;
        border:1px solid #CCCCCC;
        border-radius: 4px;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    .exp {
        margin:15px 0px;
        line-height: 25px;
    }
    .timer-list {
        width:60%;
        margin-top: 25px;
        border-top: 1px solid #ccc;
        padding: 10px;
    }
   .exp li{
        list-style-type:none;
        border-bottom: 1px solid #ccc;
        margin: 10px 0px 15px 0px;
    }
     .close_exp {
        color: red;
        font-weight: normal;
        display: inline;
        cursor:pointer;
        font-size: 12px;
        float: right;
        width: 30px;
    }
    .add-free{
        border:1px solid #ccc;
        margin-bottom: 5px;
        font-weight: normal;
        display: inline-block;
        cursor:pointer;
        font-size: 12px;
        float: right;
        border-radius: 2px;
        width: 60px;
        text-align: center;
    }
    .info-secs {
        display: inline-block;
        float: right;
        margin-right: 50%;
    }
    .info-notice {display: inline-block; color: red;}
</style>

<div class="control-bar">
    <h3><a href="__ROOTHOME__/Timer/listing">返回</a>   明星时间管理</h3>
</div>

<div class="data-container">
    <div style="margin:auto;width: 50%;padding: 25px;">
        <div class="remodal-body">
            <form class="modalForm" enctype="multipart/form-data">
                <input type="hidden" name="id" value="<?php echo $item['id'];?>">
                <div class="form-control">
                    <label>明星名称</label>
                    <?php echo $item['starname'];?>
                </div>
                <div class="form-control control-label">
                    <label>明星状态</label>
                    <?php echo $item['status'];?>
                </div>
                <div class="form-control">
                    <label>总发行时间</label>
                    <input type="text" name="micro" value="<?php echo $item['micro'];?>">
                    <span class="info-notice"> <?php echo ($item['micro'] < 1) ? '!!!填写发行时间即可分配消费者持有' : ''; ?></span>
                    <a href="javascript:;" class="remodal-confirm btn">确认</a>
                </div>

                <?php if (count($item) > 0 && $item['micro'] > 0) { ?>

                    <div class="timer-list">
                        <h3 style="text-align: center">消费者列表</h3><br>
                        <div class="form-control">
                            <input type="text" name="fans" placeholder="昵称/UID" />
                            <input type="text" name="secs" placeholder="秒数" />
                            <a href="javascript:;" onclick="addExp(this)" class="btn add-fans">添加</a>
                            <span class="info-notice fans-notice"></span>

                            <div class="exp addexp">
                                <li><span class="secs-total">消费总数 : <?php echo count($timer); ?></span>
                                    <b href="javascript:;" class="add-free">平均分配</b>
                                    <span class="info-secs secs-free" style="margin-right: 34%;">可用值 : <?php echo $free;?></span>
                                </li>
                                <?php if ($free > 0) { ?>
                                    <textarea name="free-timer" style="width: 450px;height: 100px;" placeholder="请用英文,逗号分隔"/></textarea>
                                <?php } ?>
                                <br>
                                <?php foreach($timer as $t) {
                                 $userMark = (!empty($t['nickname'])) ? $t['nickname'] : $t['fansid'];
                                 echo '<li> ' . $userMark . '<b class="close_exp" data-id='.$t['id'].' onclick="close_exp(this)">X</b><span class="info-secs">' .$t['secs'] .'</span> </li>';
                                }?>
                            </div>
                        </div>
                    </div>
                 <?php } ?>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    //添加经历、成就
    function addExp(obj) {
        var _this = $(obj);
        var id = parseInt($("input[name='id']").val());
        if (id == 0) return false;

        var fans = $.trim($("input[name='fans']").val());
        var secs = $.trim($("input[name='secs']").val());
        secs = parseInt(secs);

        if (fans.length < 1 || secs < 1) {
            $(".fans-notice").text("请输入正确的值")
            return false;
        } else {
            $(".fans-notice").text("")
        }

        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/add",
            dataType: "json",
            data: {fans : fans, secs : secs, id : id},
            success: function(msg){
                if (msg.code == 1) {
                    $(".secs-total").text("消费总数 : " + msg.total);
                    $(".secs-free").text("可用值 : " + msg.free);
                    $(".addexp").append("<li> " + msg.fans + "<b class='close_exp'>&nbsp;</b><span class='info-secs'>" + msg.secs + "</span></li>");
                } else if (msg.code == -2) {
                    $(".fans-notice").text(msg.message);
                } else {
                    $(".fans-notice").text("");
                }
            }
        });
    }

    //删除经历、成就
    function close_exp(obj) {
        var _this = $(obj);
        var id = parseInt(_this.attr("data-id"));
        if (id < 1) {return false;}

        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Timer/fstatus",
            dataType: "json",
            data: {id : id, free : "<?php echo $free;?>", total : "<?php echo count($timer); ?>"},
            success: function(msg){
                $(".secs-total").text("消费总数 : " + msg.total);
                $(".secs-free").text("可用值 : " + msg.free);
                _this.parent().remove();
            }
        });
    }

    $(function ()
    {
        $(".add-free").on("click", function () {
            var id = parseInt($("input[name='id']").val());
            if (id == 0) return false;

            var uids = $.trim($("textarea[name='free-timer']").val());
            if (uids.length == 0) return false;

            $.ajax({
                type: "POST",
                url: "__ROOTHOME__/Timer/avg",
                dataType: "json",
                data: {id : id, uids : uids},
                success: function(msg){
                    if (msg.code == -2) {
                        $(".fans-notice").text(msg.message)
                    } else if (msg.code == 1) {
                        window.location.reload(true);
                    } else {
                        $(".fans-notice").text("")
                    }
                }
            });
        });

        $("input[name='fans']").on("blur", function () {
            var fans = $.trim($(this).val());
            if (fans.length < 1) return false;

            $.ajax({
                type: "POST",
                url: "__ROOTHOME__/Timer/getFans",
                dataType: "json",
                data: {fans : fans},
                success: function(msg){
                    if (msg.code == -2) {
                        $(".fans-notice").text(msg.message)
                    } else if (msg.code == 0) {
                        $(".fans-notice").text("")
                    }
                }
            });
        })

        //添加、修改明星信息
        $(".remodal-confirm").click(function () {
            var id = $.trim($("input[name='id']").val());
            var micro = $.trim($("input[name='micro']").val());
            micro = parseInt(micro);

            if (parseInt(micro) < 1) {
                return false;
            }
            var url = "__ROOTHOME__/Timer/addTimer";

            if (id.length > 0) {
                var url = "__ROOTHOME__/Timer/editTimer";
            }

            $.ajax({
                type: "POST",
                url: url,
                dataType: "json",
                data: {id : id, micro : micro},
                success: function(msg){
                    alert(msg.message);
                    if (msg.code != -2) {
                        window.location.href = "__ROOTHOME__/Timer/info/id/" + msg.id;
                    }
                }
            });
        });
    });
</script>

<include file="public:footer" />