<include file="public:top_menu" />

<div class="control-bar">
    <h3><?php echo $title;?></h3>
</div>

<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>创建时间</th>
            <th>约见明星</th>
            <th>活动名称</th>
            <th>目的城市</th>
            <th>消费者</th>
            <th>状态</th>
            <th>约见总金额</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<div data-remodal-id="addMeetModal" class="remodal addMeetModal">
    <div class="remodal-head">
        <div class="remodal-title">约见信息</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>明星姓名</label>
                <input type="text" name="starname" readonly>
            </div>
            <div class="form-control">
                <label>明星编号</label>
                <input type="text" name="starcode" readonly>
            </div>
            <div class="form-control">
                <label>粉丝昵称</label>
                <input type="text" name="nickname" readonly>
            </div>
            <div class="form-control">
                <label>创建时间</label>
                <input type="text" name="addtime" readonly>
            </div>
            <div class="form-control">
                <label>约见类型</label>
                <input type="text" name="meettype" readonly>
            </div>
            <div class="form-control">
                <label>目的城市</label>
                <input type="text" name="place" readonly>
            </div>
            <div class="form-control">
                <label>约见日期</label>
                <input type="text" name="timer" readonly>
            </div>
            <div class="form-control">
                <label>约见状态</label>
                <select name="status">
                    <option value="0">-请选择-</option>
                    <option value="1">已约见</option>
                    <option value="2">已拒绝</option>
                    <option value="3">已完成</option>
                    <option value="4">已同意</option>
                </select>
            </div>
            <div class="form-control">
                <label>约见总金额</label>
                <input type="text" name="price" readonly>
            </div>


            <div class="form-control">
                <label style="margin:0 auto;text-align:center">约见备注</label>
                <textarea  name="comment" style = "width: 300px;height: 100px;padding-left: 5px;margin-top: 10px;border-color:#FFFFFF;" rows="5%" cols="50" disabled >

                </textarea>
            </div>

        </form>
    </div>
    <div class="remodal-footer">
        <a href="javascript:;"  class="remodal-confirm">确认</a>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>
    $(function () {
       $(".remodal-confirm").on("click", function(){
           var _id = parseInt($("input[name='id']").val());
           var status = $("select[name='status'] option:selected").val();

           if (_id < 1 || status < 1) {return false;}
           $.ajax({
               type: "POST",
               url: "__ROOTHOME__/Meet/mtype",
               dataType: "json",
               data: {id : _id, status : status},
               success: function(msg){
                   if(msg.code == 1) {
                       layer.msg(msg.message);

                       var addMeetModal = $('[data-remodal-id=addMeetModal]').remodal();
                       addMeetModal.close();

                       window.setTimeout(
                           'window.location.reload(true)',
                           2000
                       );

                   }else{
                       layer.msg(msg.message);
                   }
               }
           });
       });
    });

    function status(obj) {
        var _this = $(obj);
        var id = _this.attr("data-id");
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Meet/status",
            dataType: "json",
            data: {id : id},
            success: function(msg){
                alert(msg.message);

                // var addMeetModal = $('.addMeetModal');


                // alert(addMeetModal.html()); //remodal-is-initialized remodal-is-closed

                 //addMeetModal.addClass('remodal-is-closed');

                //addMeetModal.hide();
               // $(this).find(".modalForm")[0].reset();
               // window.location.reload(true);
               // window.location = window.location.href;
            }
        });
    }
    require(['common'], function () {
        require(['page/meet']);
    });
</script>

<include file="public:footer" />