<include file="public:top_menu" />


<style>
    .btn-status{
        /* width: 40px;*/
        background-color:#80D640;
        /* padding: 0; */
    }

    .btn-up-status{
        /* width: 40px;*/
        background-color:#009f95;
        /* padding: 0;*/
    }

    .pic1_div img {
        width : 200px;
        height : 250px;
        margin-right:10px;
        /*height: 60px;*/
        /*margin: 10px;*/
        cursor:pointer;
    }
</style>

<div for="add_star" class="control-bar">
    <a href="javascript:;" id ="add_star" class="btn J_showAdd">新建</a>
</div>


<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>明星名称</th>
            <th>轮播顺序</th>
            <th>轮播图</th>
            <th>轮播状态</th>
            <th>修改状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<div data-remodal-id="addCarouselModal" class="remodal addCarouselModal">
    <div class="remodal-head">
        <div class="remodal-title">明星轮播图</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>明星名称</label>
                <input type="text" name="starname">
            </div>
            <div class="form-control control-label">
                <label>轮播图片</label>
                <input type="hidden" name="pic_url" id="pic_url" class="txt" />
                <input type="text" name="local_pic" id="local_pic" class="txt" readonly />
            </div>
                <style>
                    .mybtn{
                        display: inline-block;
                        width: 40px;
                        border:1px solid #CCCCCC;
                        border-radius: 4px;
                        height: 30px;
                        line-height: 30px;
                        cursor: pointer;
                    }
                    .icon-star-img {
                        width: 120px;
                    }
                </style>
            <div class="form-control control-label form-group">
                <label class="control-label"></label>
                <div class="pic1_div">
                    <img src="">
                </div>
                <input type="file" name="file" class="file" id="file"/>
                <span onclick="UpladFile()" class="mybtn">上传</span>
            </div>

            <div class="form-control">
                <label>明星代码</label>
                <input type="text" name="starcode" readonly value="" >
            </div>
            <div class="form-control">
                <label>轮播顺序</label>
                <input type="text" name="sort">
            </div>
            <div class="form-control" id="publish_name_id" style="width: 230px;">


            </div>


        </form>
    </div>
    <div class="remodal-footer">
        <a href="javascript:;"  class="remodal-confirm">确认</a>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>

<script type="text/javascript">
    var publicUrl = '__PUBLIC__';
    var uploadUrl = "<?php echo U('Autoload/upload') ?>";

    var starUrl = "<?php echo C('CGI_STAR_URl') ?>";

    var qn_domain = "<?php echo C('qn_domain') ?>";

    function status(obj) {
        var _this = $(obj);
        var code = _this.attr("data-code");
        $.ajax({
            type: "POST",
            url: "__ROOTHOME__/Star/status",
            dataType: "json",
            data: {code : code},
            success: function(msg){
                //alert(msg.message);
                if(msg.code == -2) {
                    layer.msg(msg.message);
                }else {
                    layer.msg(msg.message);

                    ajaxUrl();

                    window.setTimeout(
                        'window.location.reload(true)',
                        2000
                    );
                    // window.location.reload(true);
                }
            }
        });
    }

    var xhr;
    function createXMLHttpRequest() {
        if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        }
    }

    function UpladFile() {
        var fileObj = document.getElementById("file").files[0];
        var FileController = uploadUrl;
        var form = new FormData();
        form.append("myfile", fileObj);
        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }

    function handleStateChange() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 0) {
                var result = xhr.responseText;
                var json = eval("(" + result + ")");
                console.log(json.path);

                $("#pic_url").val(json.path);
            }

            var img = '<div><img src="'+ qn_domain  + json.path +'"></div>';
            $(".pic1_div").html(img);
        }

    }
</script>

<script>
    require(['common'], function () {
        require(['page/star']);
        require(['public/ajaxUrl']);
    });
</script>

<include file="public:footer" />