<include file="public:top_menu" />

<div class="control-bar">
    <?php if ($count < 5) { ?>
    <a href="javascript:;" class="btn J_showAdd">新建</a>
    <?php } ?>
    <a href="javascript:;" class="btn J_onDel">删除</a>
</div>

<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>明星ID</th>
            <th>明星名称</th>
            <th>轮播顺序</th>
            <th>轮播图</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<div data-remodal-id="addCarouselModal" class="remodal addCarouselModal">
    <div class="remodal-head">
        <div class="remodal-title">明星轮播图</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>明星名称</label>
                <input type="text" name="starname">
            </div>
            <div class="form-control control-label">
                <label>轮播图片</label>
                <input type="text" name="pic_url" id="pic_url" class="txt" readonly />
            </div>
                <style>
                    .mybtn{
                        display: inline-block;
                        width: 40px;
                        border:1px solid #CCCCCC;
                        border-radius: 4px;
                        height: 30px;
                        line-height: 30px;
                        cursor: pointer;
                    }
                    .icon-star-img {
                        width: 120px;
                    }
                </style>
            <div class="form-control control-label form-group">
                <label class="control-label"></label>
                <input type="file" name="file" class="file" id="file"/>
                <span onclick="UpladFile()" class="mybtn">上传</span>
            </div>

            <div class="form-control">
                <label>明星ID</label>
                <input type="text" name="starcode" value="" readonly>
            </div>
            <div class="form-control">
                <label>轮播顺序</label>
                <input type="text" name="sort">
            </div>
        </form>
    </div>
    <div class="remodal-footer">
        <a href="javascript:;"  class="remodal-confirm">确认</a>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>

<script type="text/javascript">
    var xhr;
    function createXMLHttpRequest() {
        if (window.ActiveXObject) {
            xhr = new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();
        }
    }

    function UpladFile() {
        var fileObj = document.getElementById("file").files[0];
        var FileController = '__ROOTHOME__/Star/uploadFile';
        var form = new FormData();
        form.append("myfile", fileObj);
        createXMLHttpRequest();
        xhr.onreadystatechange = handleStateChange;
        xhr.open("post", FileController, true);
        xhr.send(form);
    }

    function handleStateChange() {
        if (xhr.readyState == 4) {
            if (xhr.status == 200 || xhr.status == 0) {
                var result = xhr.responseText;
                var json = eval("(" + result + ")");
                console.log(json.file);

                $("#pic_url").val(json.file);
            }
        }
    }
</script>

<script>
    require(['common'], function () {
        require(['page/star']);
    });
</script>

<include file="public:footer" />