<include file="public:top_menu" />

<style>
    .btn-status{
        width: 40px;
        background-color:#80D640;
        padding: 0;
    }
    .search_download{
        margin: 1px;
        padding-top: 5px;
        padding-left: 90%;
        padding-bottom: 20px;
        background-color: #fff;
    }
</style>
<div class="search-bar">
    机构：
    <select name="member" >
        <option value="0"  >-选择-</option>
    </select>
    <input type="hidden" name="memberMark" value="0">
    区域经纪人：
    <select name="agent" >
        <option value="0"  >-选择-</option>
    </select>
    <input type="hidden" name="agentMark" value="0">
    经纪人：
    <select name="agentSub" >
        <option value="0"  >-选择-</option>
    </select>
    <input type="hidden" name="agentSubMark" value="0">
    <a href="javascript:;" class="btn J_search">查询</a>
    <input type="hidden" name="search_id" value="0">
</div>
<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>创建时间</th>
            <th>手机号</th>
            <th>姓名</th>
            <th>昵称</th>
            <th>所属机构/区域/经纪人</th>
            <th>实名认证</th>
            <th>推荐人</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>

    <div class="search_download">
        <a href="javascript:;" class="btn download_btn">下载Excel</a>
    </div>
        <!--<a href="javascript:;" class="btn J_onDel">删除</a>-->
    <!--<div class="search-bar">-->
        <!--<a href="javascript:;" class="btn">查询</a>-->
    <!--</div>-->
</div>


<div data-remodal-id="addCustomerModal" class="remodal addCustomerModal">
    <div class="remodal-head">
        <div class="remodal-title">消费者</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>姓 名</label>
                <span id="realname"></span>
            </div>
            <div class="form-control">
                <label>手 机</label>
                <span id="phoneNum"></span>
            </div>
            <div class="form-control">
                <label>昵 称</label>
                <span id="nickname"></span>
            </div>
            <div class="form-control">
                <label>实名认证</label>
                <span id="real"></span>
            </div>
            <div class="form-control">
                <label>推荐人</label>
                <span id="recommend"></span>
            </div>
        </form>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>
    require(['common'], function () {
        require(['page/customer']);
        require(['public/select_public']);
    });
</script>
<script>
    $(function () {
        $(".download_btn").click(function () {

            var oForm = $(".search-bar");
            var memberMark = oForm.find("input[name=memberMark]").val();
            var search_id  = oForm.find("input[name=search_id]").val();

            var url = "__ROOTHOME__/Customer/downloadExcel";
            var form=$("<form>");//定义一个form表单
            form.attr("style","display:none");
            form.attr("target","");
            form.attr("method","post");
            form.attr("action",url);
            var input1=$("<input>");
            input1.attr("type","hidden");
            input1.attr("name","pageNum");
            input1.attr("value",1000);

            $("body").append(form);//将表单放置在web中
            form.append(input1);

            if(memberMark && search_id) {
                var memberMark   = memberMark ;
                var agentMark    = oForm.find("[name=agentMark]").val();
                var agentSubMark = oForm.find("[name=agentSubMark]").val();
                var input2=$("<input>");
                input2.attr("type","hidden");
                input2.attr("name","memberMark");
                input2.attr("value",memberMark);
                var input3=$("<input>");
                input3.attr("type","hidden");
                input3.attr("name","agentMark");
                input3.attr("value",agentMark);
                var input4=$("<input>");
                input4.attr("type","hidden");
                input4.attr("name","agentSubMark");
                input4.attr("value",agentSubMark);

                form.append(input2);
                form.append(input3);
                form.append(input4);
            }

            form.submit();//表单提交


//            data = {
//                pageNum:1000
//            };
//            $.ajax({
//                type: "POST",
//                url: url,
//                dataType: "json",
//                async: false,
//                data: data,
//                success: function(msg) {
//
//                }
//            });

        });
    })
</script>

<include file="public:footer" />
