<include file="public:top_menu" />

<style>
    .btn-status{
        width: 40px;
        background-color:#80D640;
        padding: 0;
    }
</style>
<div class="data-container">
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>创建时间</th>
            <th>手机号</th>
            <th>姓名</th>
            <th>昵称</th>
            <th>所属机构/区域/经纪人</th>
            <th>实名认证</th>
            <th>推荐人</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination"></div>
</div>

<div data-remodal-id="addCustomerModal" class="remodal addCustomerModal">
    <div class="remodal-head">
        <div class="remodal-title">消费者</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm" enctype="multipart/form-data">
            <input type="text" name="id" style="display: none">
            <div class="form-control">
                <label>姓 名</label>
                <span id="realname"></span>
            </div>
            <div class="form-control">
                <label>手 机</label>
                <span id="phoneNum"></span>
            </div>
            <div class="form-control">
                <label>昵 称</label>
                <span id="nickname"></span>
            </div>
            <div class="form-control">
                <label>实名认证</label>
                <span id="real"></span>
            </div>
            <div class="form-control">
                <label>推荐人</label>
                <span id="recommend"></span>
            </div>
        </form>
    </div>
</div>

<div id="browse" class="browse">
</div>

<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>
    require(['common'], function () {
        require(['page/customer']);
    });
</script>

<include file="public:footer" />