<include file="public:top_menu" />

<style>
    .search{
        margin: 1px;
        padding-top: 5px;
        padding-bottom: 20px;
        background-color: #fff;
    }
    .put_withdrawals {
        background: #e80c4c;
    }
</style>

<?php
    $BrokerModal = 'addBrokerModal';
    $J_show = 'J_showAdd';
    if($bankAdminInfoArr){
        $BrokerModal = 'ditBrokerModal';
        $J_show = 'J_showEdit';
    }

    $bankPersonName =  isset($bankAdminInfoArr['bankPersonName'])?trim($bankAdminInfoArr['bankPersonName']):'';
    $bankAccount =  isset($bankAdminInfoArr['bankAccount'])?trim($bankAdminInfoArr['bankAccount']):'';
    $bankName =  isset($bankAdminInfoArr['bankName'])?trim($bankAdminInfoArr['bankName']):'';
    $id =  isset($bankAdminInfoArr['id'])?trim($bankAdminInfoArr['id']):0;

?>


<div class="control-bar">
    收益查询
</div>
<div class="data-container">
    <table>
        <thead>
        <tr>
            <th> </th>
            <th>序号</th>
            <th>经纪人名称</th>
            <th>经纪人ID</th>
            <th>成交订单总数</th>
            <th>累计收益（元）</th>
            <th>可用佣金</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="pagination list"></div>
    <div class="search">
        <a href="javascript:;" class="btn {$J_show}">{$bankAdminTitle}</a>
        <a href="javascript:;" class="btn put_withdrawals">提现佣金</a>
    </div>
</div>

    <div  class="control-bar">
        提现记录
    </div>

    <div class="data-container">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>持卡人</th>
                <th>银行卡号</th>
                <th>提现金额</th>
                <th>提现时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="pagination log-list"></div>

    </div>


</div>
</div>

<div data-remodal-id="addBrokerModal" class="remodal addBrokerModal">
    <div class="remodal-head">
        <div class="remodal-title">{$bankAdminTitle}</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm">
            <div class="form-control">
                <label>账户姓名</label>
                <input type="text" name="bankPersonName" value="{$bankPersonName}">
            </div>
            <div class="form-control">
                <label>银行卡号</label>
                <input type="text" name="bankAccount" value="{$bankAccount}">
            </div>
            <!--<div class="form-control">-->
                <!--<label>银行名称</label>-->
                <!--<input type="text" name="bank_name">-->
            <!--</div>-->
        </form>
    </div>
    <div class="remodal-footer">
        <a href="javascript:;"  class="remodal-confirm add-bank">确认</a>
    </div>
</div>
<div data-remodal-id="editBrokerModal" class="remodal editBrokerModal">
    <div class="remodal-head">
        <div class="remodal-title">{$bankAdminTitle}</div>
        <div data-remodal-action="cancel" class="remodal-close"></div>
    </div>
    <div class="remodal-body">
        <form class="modalForm">
            <div class="form-control">
                <label>账户姓名</label>
                <input type="text" name="bankPersonName" value="{$bankPersonName}">
            </div>
            <div class="form-control">
                <label>银行卡号</label>
                <input type="text" name="bankAccount" value="{$bankAccount}">
            </div>
            <div class="form-control">
                <label>银行名称</label>
                <input type="text" readonly="readonly" value="{$bankName}">
                <input type="hidden" name='id' value="{$id}">
            </div>
        </form>
    </div>
    <div class="remodal-footer">
        <!--<a href="javascript:;"  class="remodal-cancel J_check">拒绝</a>-->
        <a href="javascript:;"  class="remodal-confirm edit-bank">确定</a>
    </div>
</div>
    <div data-remodal-id="withdrawalsModel" class="remodal withdrawalsModel">
                    <div class="remodal-head">
                        <div class="remodal-title">提现信息</div>
                        <div data-remodal-action="cancel" class="remodal-close"></div>
                    </div>
                    <div class="remodal-body">
                        <form class="modalForm">
                            <div class="form-control">
                                <label>账户姓名</label>
                                {$bankPersonName}
                                <input type="hidden" name="bankPersonName" value="{$bankPersonName}">
                            </div>
                            <div class="form-control">
                                <label>银行卡号</label>
                                {$bankAccount}
                                <input type="hidden" name="bankAccount" value="{$bankAccount}">
                            </div>

                            <div class="form-control">
                                <label>提现金额</label>
                                <em id="profit_priceTd_text">0</em>
                    <input type="hidden" name="bankSum" value="0">
                </div>
                <!--<input type="hidden" name="bankName" value="{$bankName}">-->

            </form>
        </div>
        <div class="remodal-footer">
            <!--<a href="javascript:;"  class="remodal-cancel J_check">拒绝</a>-->
            <a href="javascript:;"  class="remodal-confirm withdrawals-bank" style="font-size:14px">确定提现</a>
        </div>
    </div>
</div>
<script src="__JS__/vendor/require.js" data-main="__JS__/common"></script>
<script>
    require(['common'], function () {
        require(['page/agentCommision']);
    });
</script>
