@import "./base/common";
// components
.list-title{
    background-color: #fff;
    padding: 10px 0;
    span{
        padding-left: 10px;
        border-left: 3px solid $red;
    }
}
.search{
    position: relative;
    height: 50px;
    padding: 0 20px;
    background-color: #f5f5f5;
    i{
        @include search($size: 24px);
        position: absolute;
        left: 24px;
        top: 14px;
    }
    input{
        margin-top: 10px;
        padding-left: 40px;
        height: 30px;
        width: 100%;
        border: none;
        border-radius: 4px;
    }
}
.control{
    background-color: #fff;
    padding: 8px 10px;
    border-bottom: 1px solid $borderColor;
    @extend .clearfix;
    select#sort{
        float: left;
        @include button($height:24px,$backgroundColor: #eee,$color:#333);
        padding-right: 25px;
        border: none;
    }
    i.caret{
        position: relative;
        top: 3px;
        left: -12px;
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 8px solid #333;
        }
        &::before{
            position: absolute;
            top: 10px;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 8px solid #333;
        }
    }
    a{
        float: right;
        @include button($height:24px,$backgroundColor: #eee,$color:#333);
        i{
            position: relative;
            left: 4px;
            top: 1px;
            &::after{
                position: absolute;
                top: 0;
                left: 1px;
                content: '';
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 8px solid #333;
                transform: rotate(-30deg);
            }
            &::before{
                content: '';
                position: absolute;
                top: 6px;
                left: 1px;
                width: 6px;
                height: 10px;
                border-width: 0;
                border-style: solid;
                border-color: transparent;
                border-right-width: 4px;
                border-right-color: currentColor;
                border-radius: 0 0 16px 0;
                color: #333;
                transform: rotate(-30deg);

            }
        }
    }
}
.master{
    position: relative;
    padding-left:15px;
    margin-bottom: 10px;
    background-color: #fff;
    @extend .clearfix;
    img{
        float: left;
        width: 80px;
        height: 80px;
        margin-top: 20px;
        border: 2px solid #dedede;
        border-radius: 50%;
    }
    .info{
        margin-left: 90px;
        padding: 30px 15px 30px 0;
        .title{
            position: relative;
            font-size: 16px;
            line-height: 30px;
            em{
                position: absolute;
                margin-left: 3px;
                top: -14px;
                padding: 0 5px;
                border-radius: 4px;
                border-bottom-left-radius: 0;
                background-color: #fa4116;
                font-size: 12px;
                line-height: 16px;
                color: #fff;
                &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    width: 0;
                    height: 0;
                    border-top: 6px solid #fa4116;
                    border-right: 6px solid transparent;
                    -webkit-transform: rotate(30deg);
                    -moz-transform: rotate(30deg);
                    -ms-transform: rotate(30deg);
                    -o-transform: rotate(30deg);
                    transform: rotate(30deg);
                }
            }
        }
        p{
            &.single{
                line-height: 30px;
                font-size: 16px;
            }
        }

    }

    a{
        position: absolute;
        right: 15px;
        bottom: 50px;
        padding-right: 30px;
        border-radius: 15px;
        color: $miniTitleColor;
        i.arrow{
            @include arrows($arrow_color:#999, $arrow_size:1.0, $arrow_direction:225deg);
            top: 10px;
            right: 0;
            width: 0;
        }

    }
}


ul.my-level{
    background-color: #fff;
    @extend .clearfix;
    padding: 10px 0;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    li{
        float: left;
        width: 50%;
        padding-left: 15px;
        em{
            display: inline-block;
            //width: 80%;
            margin-left: 5px;
            text-align: left;
        }
        span{
            display: inline-block;
            //width: 20%;
        }
    }
}
ul.next-level{
    background-color: #fff;
    @extend .clearfix;
    &>li{
        position: relative;
        padding:10px 0 10px 10px;
        border-bottom: 1px solid $borderColor;
        @extend .clearfix;
        .avatar{
            float: left;
            img{
                width: 50px;
                height: 50px;
                margin-top: 10px;
                border: 2px solid #dedede;
                border-radius: 50%;
            }

            p{
                white-space: nowrap;
                width: 50px;
                text-align: center;
                font-size: 12px;
                overflow: hidden;
            }
            @media screen and(max-width:320px){
                img{
                    width: 40px;
                    height: 40px;
                }
                p{
                    width: 40px;
                }
            }
        }



        ul.info{

            margin-left: 60px;
            padding: 15px 0px 15px 0;
            li{
                float: left;
                width: 50%;
                padding: 0 5px;
                font-size: 12px;
                em{
                    display: inline-block;
                    //width: 80%;
                    text-align: left;
                }
                span{
                    display: inline-block;
                    //width: 20%;
                }
            }

        }
        @media screen and(max-width:320px){
            ul.info{
                margin-left: 50px;
            }
        }
    }

}

